.navbar-nav .nav-item + .nav-item {
    margin-left: 8px; /* Отступ между элементами навигации */
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #070000; /* Цвет текста ссылок */
}

.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #042ea1; /* Цвет активного элемента меню и при наведении */
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.25rem; /* Стандартный размер текста ссылок */
    transition: font-size 0.3s ease; /* Плавное изменение размера текста */
    font-weight: 600; /* Жирный шрифт */
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 991.98px) {
    .footer .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
    .footer .navbar-nav .nav-link i {
        font-size: 1.8em; /* Увеличение размера иконок на 80% */
    }
}

.navbar .btn-outline-success:hover {
    color: #fff; /* Белый цвет текста при наведении */
    background-color: #7022ee; /* цвет фона при наведении */
    border-color: #000000; /* Зеленый цвет границы при наведении */
}